# IDES
.vscode
.idea
.settings
# Misc
.DS_Store
*.iml
.vagrant
.php_cs.cache
cache.properties
/nbproject
build
atlassian-ide-plugin.xml
/vendor
composer.lock
composer.phar
/test/nginx/logs/access.log
/test/nginx/logs/error.log
